{% comment %}
  Product Card Snippet
  Used in product grids throughout the site
  Parameters:
  - product: product object
{% endcomment %}

<div
  class="product slidebaby"
  data-type="{{ product.type | handle }}"
  data-tags="{{ product.tags | join: ',' | handle }}">
  <a href="{{ product.url }}" class="product-info">
    <h3 class="product-title">{{ product.title }}</h3>

    <span class="prod-price">
      {%- if product.compare_at_price > product.price -%}
        <span class="price-compare">
          {{ product.compare_at_price | money }}
        </span>
        <span class="price-sale">
          {{ product.price | money }}
        </span>
      {%- else -%}
        <span class="price">
          {{ product.price | money }}
        </span>
      {%- endif -%}
    </span>
  </a>
  <a href="{{ product.url }}" class="linkouter">
    {%- if product.featured_image -%}
      <div class="main_picture">
        {{ product.featured_image | image_url: width: 1200 | image_tag: class: 'main-picture', loading: 'lazy', decoding: 'async', sizes: "(min-width: 1024px) 50vw, 100vw", widths: "355,394,479,365,452,318,396,456,398,458,618"
        }}
      </div>
      {% assign second_image = product.images[1] %}
      {% if second_image %}
        <div class="lifestyle_picture">
          {{ second_image | image_url: width: 1200 | image_tag: class: 'main-picture', loading: 'lazy', decoding: 'async', sizes: "(min-width: 1024px) 50vw, 100vw", widths: "355,394,479,365,452,318,396,456,398,458,618"
          }}

        </div>
      {%- endif -%}
    {%- endif -%}
  </a>


</div>