<div class="column 
  d-start-{{ block.settings.desktop_start }} 
  t-start-{{ block.settings.tablet_start }} 
  m-start-{{ block.settings.mobile_start }}
  d-span-{{ block.settings.desktop_width }}
  t-span-{{ block.settings.tablet_width }}
  m-span-{{ block.settings.mobile_width }}
  d-row-{{ block.settings.desktop_row }}
  t-row-{{ block.settings.tablet_row }}
  m-row-{{ block.settings.mobile_row }}
  level-{{ block.settings.z_index }}
">

  {% if block.settings.image %}
  <picture>
    <img 
      src="{{ block.settings.image | image_url: width: 800 }}"
      alt="{{ block.settings.image.alt | escape }}"
      loading="lazy"
    >
  </picture>
  {% endif %}

  {% if block.settings.col_title != blank %}
    <h2>{{ block.settings.col_title }}</h2>
  {% endif %}

  {% if block.settings.description != blank %}
    <p>{{ block.settings.description }}</p>
  {% endif %}

</div>

{% schema %}
{
  "name": "Column Item",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "Image" },
    { "type": "text", "id": "col_title", "label": "Title" },
    { "type": "textarea", "id": "description", "label": "Description" },

    { "type": "number", "id": "desktop_start", "label": "Desktop Start" },
    { "type": "number", "id": "desktop_width", "label": "Desktop Width" },
    { "type": "number", "id": "desktop_row", "label": "Desktop Row" },

    { "type": "number", "id": "tablet_start", "label": "Tablet Start" },
    { "type": "number", "id": "tablet_width", "label": "Tablet Width" },
    { "type": "number", "id": "tablet_row", "label": "Tablet Row" },

    { "type": "number", "id": "mobile_start", "label": "Mobile Start" },
    { "type": "number", "id": "mobile_width", "label": "Mobile Width" },
    { "type": "number", "id": "mobile_row", "label": "Mobile Row" },

    { "type": "range", "id": "z_index", "label": "Z Index", "min": 0, "max": 20, "default": 1 }
  ]
}
{% endschema %}